<!DOCTYPE html>
<html>
	<head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  	<meta charset="utf-8">
  	<title>Montreus Chat</title>
  	<link rel="stylesheet" type="text/css" href="../../reset.css"> 
  	<link href="http://cdn.foundation5.zurb.com/foundation.css" rel="stylesheet" type="text/css"> 
  	<link type="text/css" rel="stylesheet" href="../../list.css" />  
	</head>
	<body>
		<h1>Welcome to Montreus Chat!</h1>
    		<div class='content'>
	<h2>Montreus Chat - A Node.js + Socket.io Chat - <a href="http://github.com/gtomitsuka/montreus-chat" target="_blank">GitHub Source</a></h2>
	<ul class='inline-list'>
      <% for(var i = 0; i < rooms.length; i++) {%>
        <li><a href="../../room/<%= rooms[i].number %>"><%= rooms[i].name %></a></li>
      	<% } %>
	    </div>
	</ul>
	</body>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
</html>
