<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="../../reset.css"> 
  <link type="text/css" rel="stylesheet" href="../../stylesheet.css" />  
</head>
<body class="error">
    <h1>Montreus Chat</h1>
   <div>
        <p><%= error %></p>
   </div>
</body>
</html>