<!DOCTYPE html>
<html>
	<head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  	<meta charset="utf-8">
  	<title><%= title %> Login</title>
  	<link rel="stylesheet" type="text/css" href="../../reset.css"> 
  	<link href="http://cdn.foundation5.zurb.com/foundation.css" rel="stylesheet" type="text/css"> 
  	<link type="text/css" rel="stylesheet" href="../../login.css" />  
	</head>
	<body>
		<h1>Montreus Chat</h1>
		<form method="post" action="/room/<%= id %>">	
			<div class="content">
			<h2>Room: <%= title %></h2>
			<div class="row">
    			<div class="large-12 columns">
      				<label>Username:
        				<input id="nameField" type='text' name="username" placeholder="Your username" />
      				</label>
    			</div>
  			</div>
  			<div class="row">
    			<div class="large-12 columns">
      				<label>Password:
        				<input id="passwordField" type='text' name="password" placeholder="Room password" />
      				</label>
    			</div>
  			</div>
		
			<input class="button radius" value="Login" type="submit">
			</div>
		</form>
	</body>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script type="text/javascript">
$(function(){
	var username = localStorage.getItem('MTChat_Username');
	if(<%= usePassword %> != true){
		var passwordField = $('#passwordField');
		passwordField.attr('value','null');
     	if(username !== null){
                $('#nameField').attr('value',username);
                $('form').submit();
        }else{
        	passwordField.attr('type','hidden');
        }
	}else{
		if(username !== null){
	 		$('#nameField').attr('value', username);
	 	}
	}
});
	</script>
</html>